
<div class="col-md-5">
	<div class="form-group">
		<label>Фірма-виробник:</label>
		<input class="form-control" ng-model="currentItem.name"></input>
	</div>
	<div class="form-group">
		<label>Назва моделі:</label>
		<input class="form-control" ng-model="currentItem.descname"></input>
	</div>
	<div class="form-group">
		<label>Категорія:</label>
		<select class="form-control" ng-model="currentItem.category" ng-options="item.category for item in categories"></select>
	</div>
	<div class="form-group">
		<label>Кількість наявного товару:</label>
		<input class="form-control" ng-model="currentItem.count"></input>
	</div>
	<div class="form-group">
		<label>Ціна:</label>
		<input class="form-control" ng-model="currentItem.price"></input>
	</div>

	<div class="adminUpload adminPanel">
		<form method="post" enctype="multipart/form-data" action="/uploadFile" target="result">
			<input type="file" name="upl"></input>
			<input class="btn btn-sm btn-success" type="submit" value="Завантажити файл"/>
		</form>
		<input type="text" class="form-control" ng-model="currentItem.path"></input>
	</div>

	<iframe name="result" class="adminFrame" current-item></iframe>
	<button class="btn btn-sm btn-primary" width="100" height="40" ng-click="saveEdit(currentItem)">
		Зберегти
	</button>
	<button class="btn btn-sm btn-danger" ng-click="cancelEdit()">
		Відмінити
	</button>
</div>

<div class="col-md-5">
	<ng-include src="'Views/telephones.html'" ng-show="currentItem.category.category=='telephones'"> </ng-include>
	<ng-include src="'Views/mp3.html'" ng-show="currentItem.category.category=='mp3'"> </ng-include>

	<!-- <div class="adminUpload adminPanel">
		<form method="post" enctype="multipart/form-data" action="/loadFiles" target="result2">
			<input type="file" name="upl"></input>
			<input class="btn btn-sm btn-success" type="submit" value="Завантажити файли"/>
		</form>
		<input type="text" class="form-control" ng-model="currentItem.details.imgs"></input>
	</div>
	<iframe name="result2" class="adminFrame" current-imgs></iframe> -->

</div>




