	<div class="form-group">
		<label>Колір:</label>
		<input class="form-control" ng-model="currentItem.details.color"></input>
	</div>
	<div class="form-group">
		<label>Розмір:</label>
		<input class="form-control" ng-model="currentItem.details.size"></input>
	</div>
	<div class="form-group">
		<label>Вага:</label>
		<input class="form-control" ng-model="currentItem.details.weight"></input>
	</div>
	<div class="form-group">
		<label>Память:</label>
		<input class="form-control" ng-model="currentItem.details.memory"></input>
	</div>
	<div class="form-group">
		<label>Диктофон:</label>
		<input class="form-control" ng-model="currentItem.details.dictophone"></input>
	</div>