<div class="row">
  <div class="col-md-12">

      <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6">
        <div class="col-md-5 col-sm-6 col-xs-5">
          <fieldset class="form-group">
            <label for="exampleSelect1">Категорія</label>
            <select class="form-control" ng-model="select" ng-options="item.name for item in selectitems"></select>
          </fieldset>
        </div>
        <div class="col-md-5 col-sm-6 col-xs-5">
          <fieldset class="form-group">
            <label for="exampleSelect1">Виробник</label>
            <select class="form-control" ng-model="newselect" ng-options="item.name for item in selectName"></select>
          </fieldset>
        </div>
        <!-- <select>
          <option ng-repeat="item in products|filter:{category:select.name}">{{item.name}}
        </select> -->
      </div>

  </div>
</div>

<div class="row">

  <div id="content">

    <div class="col-sm-6 col-md-4"ng-repeat="item in products | startFrom: startingItem() | limitTo: itemsPerPage|filter:{category:select.value, name:newselect.value}">
      <div class="thumbnail shopThumbnail" >
        <img src="{{item.path}}" alt="Фото відсутнє...">
          <div class="caption">
            <h4>{{item.name}} {{item.descname}}</h4>
            <p>{{item.category}}</p>
            <h4>{{item.price|salaryFilter:"грн."}}</h4>
            <p><a href="#" class="btn btn-sm btn-danger" role="button" ng-click="addProductCart(item)">
                  <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                Купити
            </a> </p>
            <a href="#" ng-click="productDetails(item)">Деталі...</a>
          </div>
      </div>
    </div>


    <div id="pagination" class="row">
      <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-4 col-xs-offset-2 col-xs-8">
        <button class="pull-left btn btn-danger btn-sm" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
        <span class="page">{{currentPage+1}} з {{numberOfPages()}}</span>
        <button class="pull-right  btn btn-danger btn-sm forward" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
    </div>
    </div>

  </div>

</div>
  
