	<div class="form-group">
		<label>Колір:</label>
		<input class="form-control" ng-model="currentItem.details.color"></input>
	</div>
	<div class="form-group">
		<label>Розмір:</label>
		<input class="form-control" ng-model="currentItem.details.size"></input>
	</div>
	<div class="form-group">
		<label>Вага:</label>
		<input class="form-control" ng-model="currentItem.details.weight"></input>
	</div>
	<div class="form-group">
		<label>Дисплей:</label>
		<input class="form-control" ng-model="currentItem.details.display"></input>
	</div>
	<div class="form-group">
		<label>Камера:</label>
		<input class="form-control" ng-model="currentItem.details.camera"></input>
	</div>
